<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-brand">STUDENT APP</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a (click)="openModal({}, 'add')" class="nav-link">Add Student</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" #key="ngModel" ngModel name="key" 
      (ngModelChange)="searchStudents(key.value)" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>

<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let student of students" class="col-md-4">
            <div class="card m-b-30" style="width: 18rem;">
                <div class="card-body row">
                    <div class="col-6 card-title">
                        <h5>{{ student?.name }}</h5>
                        <p class="m-0">{{ student?.rollNo }}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><em class="fa fa-envelope-o float-right"></em>Email : {{ student?.email }}</li>
                    <li class="list-group-item"><em class="fa fa-user float-right"></em>ID : {{ student?.id }}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="openModal(student, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="openModal(student, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADD STUDENT MODAL -->
<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #addForm="ngForm" (ngSubmit)="addStudent(addForm)">
        <div class="modal-body">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" ngModel name="name" placeholder="Enter Name" required>
            </div>
            <div class="form-group">
              <label for="rollNo">Roll No</label>
              <input type="number" class="form-control" id="rollNo" ngModel name="rollNo" placeholder="Enter Roll No" required>
            </div>
            <div class="form-group">
              <label for="id">ID</label>
              <input type="number" class="form-control" id="id" ngModel name="id" placeholder="Enter ID" required>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" ngModel name="email" placeholder="Enter Email" required>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="add-close-button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- EDIT STUDENT MODAL -->
<div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="editStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editStudentModalLabel">Edit Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #editForm="ngForm">
        <div class="modal-body">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" ngModel="{{ editStudent?.name }}" name="name" placeholder="Enter Name">
            </div>
            <div class="form-group">
              <label for="rollNo">Roll No</label>
              <input type="number" class="form-control" id="rollNo" ngModel="{{ editStudent?.rollNo }}" name="rollNo" placeholder="Enter Roll No" readonly>
            </div>
            <div class="form-group">
              <label for="id">ID</label>
              <input type="number" class="form-control" id="id" ngModel="{{ editStudent?.id }}" name="id" placeholder="Enter ID" readonly>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email" ngModel="{{ editStudent?.email }}" name="email" placeholder="Enter Email">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="edit-close-button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" (click)="updateStudent(editForm.value)" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- DELETE STUDENT MODAL -->
<div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="deleteStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteStudentModalLabel">Delete Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the student {{ removeStudent?.name }}?
      </div>
      <div class="modal-footer">
        <button type="button" id="delete-close-button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="deleteStudent(removeStudent?.id!)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>